[submodule "toolpex"]
	path = toolpex
	url = git@github.com:JPewterschmidt/toolpex.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
